

.container-fluid{
    padding: 8px 10% 10px 8%;
    height: 1000px;
   
    height: 80%;
}

.container-fluid img{
    width: 20%;
}


.card-div{
    padding: 0 10% 0 10%;
}

.card-div img{
    width: 100%;
}

.main-container{
    background-color: rgb(198, 228, 218);
}

.card4 img{
    height:45%;
    width: 14%;
    padding-bottom: 15px;
}

.card4{
    padding: 30px 10% 40px 10%;

}

.small-img img{
    height: 10px;
}


.card3 img{
    height: 70%;
    width: 80%;

}
.card3{
    padding: 30px 10% 40px 10%;
}

.card-3{
    margin: 0;
    padding: 0;
}

.card-div .pp{
    color: red;
    margin-top: 40px;
}

.card-div h1{
    font-weight: 900;
    font-size: 50px;
    margin-top: 10px;

}

span{
    color: rgb(12, 200, 163);
}
.card-div button{
    background-color: rgb(3, 107, 87);
    color: white;
    border: none;
    border-radius: 35px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}


/* card section */

.online-course{
    margin-bottom: 40px;
}

.main-card-container h1{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-body button{
    margin-top: 10px;
    font-size: 19px;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px rgb(116, 176, 116);
    background-color: rgb(68, 154, 105);
}




.card-container{
    padding: 0 12% 0 12%;
    height: 700px;
    text-align: center;
}



.card-c{
    background-color: rgb(242, 234, 243) ;
}


/* Transition section */
.card-c:hover{
    transform: scale(1.02);
    transition: all ease 1s;
}

.btn2:hover{
    background-color: rgb(40, 164, 81);
}


.btn2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
  }





.main-card-container{
    background-color: rgb(216, 240, 232);
}



.div-image img{
    height: 25px;
    width: 25px;
}


.card-image{
    height: 70%;
    width: 90%;
    border-radius: 5%;
    margin-top: 20px;
}




